/* formulaire_matricule.css */

/* Style général de la page */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    background-color: #b4b4b493;
    color: white;
    text-align: center;
}

header .logo img {
    width: 150px;
}

h2 {
    color: #003366;
    text-align: center;
    margin-top: 50px;
}

/* Formulaire */
.form-container {
    width: 100%;
    max-width: max-content;
    margin: 50px auto;
    background-color: white;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container label {
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

.form-container input[type="text"] {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f9f9f9;
}

.form-container button {
    width: 100%;
    padding: 14px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #da920d;
}

footer {
    text-align: center;
    background-color: #b4b4b493;
    color: black;
    flex-direction: column;
    display: flex;
    width: 100%;
    bottom: 0;
}
@media (max-width: 768px) {
    .form-container {
        width: 90%;
        padding: 15px;
    }

    .form-container input[type="text"]{
        width: 100%;
        font-size: 14px;
    }

    h2 {
        font-size: 20px;
    }

    header .logo img {
        width: 120px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 18px;
        margin-top: 30px;
    }

    .form-container {
        padding: 10px;
    }
    .form-container input[type="text"] {
        width: 90%;
        font-size: 14px;
    }

    .form-container button {
        padding: 12px;
        font-size: 14px;
    }

    footer {
        font-size: 12px;
    }

    header .logo img {
        width: 100px;
    }
}